<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">Recipe Book</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/recipes" routerLinkActive="active">Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/shopping-list" routerLinkActive="active">Shopping List</a>
        </li>
        <li class="nav-item">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-default" ngbDropdownToggle>Items</button>
            <div ngbDropdownMenu>
              <button ngbDropdownItem>Save Data</button>
              <button ngbDropdownItem>Fetch Data</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
